<% provide(:title, @article.title) %>
<% content_for :meta_tags do %>
    <meta name="keywords" content="<%= @article.keywords %>">
    <meta name="description" content="<%= @article.description %>">
<% end %>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4 class="header" style="margin-bottom: 30px"><%= @article.title %></h4>
      <%= @article.text.html_safe %>
    </div>
  </div>
</div>
<!-- <div class="text&#45;center"><%= render partial: 'application/news/block' %></div> -->
