<% provide :title, t(:useful_info) %>
<% content_for :meta_tags do %>
    <meta name="keywords" content="<%= t :useful_info_keywords %>">
    <meta name="description" content="<%= t :useful_info_description %>">
<% end %>

<div class="container">
  <h3 class="header" style="margin: 0 0 30px;"><%= t :useful_info %></h3>

  <div class="infinite-page">
    <%= render partial: 'article', collection: @articles %>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="text-center articles-pager" data-loading-img="<%= image_path 'ajax-loader.gif' %>">
        <%= paginate @articles %>
      </div>
    </div>
  </div>
</div>
