<%= form_tag question_send_message_path, id: 'question-form', style: 'padding-bottom: 30px;' do %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="input-grp"><%= text_field_tag :name, nil, placeholder: t(:name) %></div>
        <div class="input-grp"><%= text_field_tag :email, nil, placeholder: 'Email' %></div>
        <div class="input-grp"><%= text_field_tag :phone, nil, placeholder: t(:phone) %></div>
        <div class="input-grp"><%= text_field_tag :subject, nil, placeholder: t(:subject) %></div>
        <div class="input-grp hidden-xs"><%= submit_tag t(:ask), class: 'btn btn-default' %></div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="input-grp">
          <%= text_area_tag :question, nil, placeholder: t(:question), style: 'height: 175px;' %>
        </div>
      </div>
    </div>
    <div class="input-grp visible-xs"><%= submit_tag t(:ask), class: 'btn btn-default' %></div>
<% end %>
