<div class="row">
  <div class="col-md-1 col-lg-1"></div>
  <div class="col-lg-10 visible-lg">
    <div class="row">
      <div class="col-lg-6"><%= image_tag "tester_settings-#{I18n.locale}.png", class: 'tester_img center-block' %></div>
      <div class="col-lg-6">
        <div style="display: table" class="tester-thumbs">
          <div style="display: table-row">
            <div style="display: table-cell"><%= image_tag "tester_settings-#{I18n.locale}.png", class: 'border-orange' %></div>
            <div style="display: table-cell"><%= image_tag "tester_common_report-#{I18n.locale}.png" %></div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell"><%= image_tag "tester_trades-#{I18n.locale}.png" %></div>
            <div style="display: table-cell"><%= image_tag "tester_equity_chart-#{I18n.locale}.png" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 hidden-lg">
    <div class="row">
      <div class="col-md-12"><%= image_tag "tester_settings-#{I18n.locale}.png", class: 'tester_img center-block' %></div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div style="display: table" class="center-block tester-thumbs">
          <div style="display: table-row">
            <div style="display: table-cell"><%= image_tag "tester_settings-#{I18n.locale}.png", class: 'border-orange' %></div>
            <div style="display: table-cell"><%= image_tag "tester_common_report-#{I18n.locale}.png" %></div>
          </div>
          <div style="display: table-row">
            <div style="display: table-cell"><%= image_tag "tester_trades-#{I18n.locale}.png" %></div>
            <div style="display: table-cell"><%= image_tag "tester_equity_chart-#{I18n.locale}.png" %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1 col-lg-1"></div>
</div>