<!DOCTYPE html>
<html>
<head>
  <title>Megatrader</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="background-orange row">
    <div class="container">
      <span class="glyphicon glyphicon-earphone" style="font-size: 12pt; line-height: 26px; margin-left: 10px"></span>
      <span style="position: relative; bottom: 2px;">+7 913 985 69 71</span>
      <%= image_tag 'envelop.png', style: 'position: relative; bottom: 3px; margin-left: 15px;' %>
      <span style="position: relative; bottom: 2px; margin-left: 3px;">
        <%= mail_to 'info@megatrader.org', 'info@megatrader.org', style: 'color: white;' %>
      </span>

      <div class="pull-right" style="margin-right: 10px">
        <span class="caret" style="position: relative; top: 2px;"></span>
        <span style="font-weight: bold"><%= I18n.locale %></span>
      </div>
    </div>
  </div>
</header>

<nav class="navbar" style="margin-bottom: 10px">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu-navbar-collapse">
        <!--<span class="sr-only">Toggle navigation</span>-->
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to (image_tag 'logo.png'), root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="main-menu-navbar-collapse">
      <%= render_navigation context: :app, &main_menu_items %>
    </div>
  </div>
</nav>

<div class="hline">
  <% if request.env['PATH_INFO'] == '/' %>
      <div class="slider">
        <%= image_tag('slider.png', class: 'img-responsive center-block') %>
        <div>
          <p>MegaTrader</p>
          <ul class="orange-bullet">
            <li>Автоматические торговые системы</li>
            <li>Тестирование на исторических данных</li>
            <li>Учет задержек при исполнении сделок</li>
            <li>Одновременная работа с Quick и MetaTrader</li>
            <li>Работа с графиком спреда</li>
            <li>Простая и удобная ручная торговля</li>
            <li>Покупка/продажа спреда одной кнопкой</li>
          </ul>
        </div>
      </div>
  <% end %>
</div>

<div class="row banners visible-xs visible-sm">
  <div class="col-xs-12 col-sm-12 col-centered">
    <div>Прямые рыночные котировки от<br>CQG<br><span>подробнее</span></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-centered">
    <div>MegaClicker имитатор ручной торговли для<br>MT4<br><span>подробнее</span></div>
  </div>
  <div class="col-xs-12 col-sm-12 col-centered">
    <div>Бесплатный вебинар<br><br><span>подробнее</span></div>
  </div>
</div>

<div class="row banners hidden-xs hidden-sm center-block">
  <div class="col-md-3 col-lg-3 nopadding">
    <div>Прямые рыночные котировки от<br>CQG<br><span>подробнее</span></div>
  </div>
  <div class="col-md-3 col-lg-3 nopadding">
    <div>MegaClicker имитатор ручной торговли для<br>MT4<br><span>подробнее</span></div>
  </div>
  <div class="col-md-3 col-lg-3 nopadding">
    <div>Бесплатный вебинар<br><br><span>подробнее</span></div>
  </div>
</div>

<%= yield %>

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-8" style="margin: 20px; color: #9f9f9f; font-size: 8pt">Уведомление о рисках: Торговля
        финансовыми инструментами несет в себе высокий уровень риска
        и может привести к потере всех вложений. Используя информацию и программные продукты, представленные на сайте,
        вы соглашаетесь с тем, что действуете на свой страх и риск и принимаете на себя всю ответственность за возможные
        убытки и потери. Megatrader Ltd не несет ответственности за любые убытки, понесенные по причине использования
        представленных программных продуктов или дополнений к ним. Вся информация на сайте приведена исключительно в
        ознакомительных целях и не является основанием для принятия инвестиционных решений. Все примеры, указанные на
        сайте, носят демонстрационный характер и не означают обещания доходности в будущем. Вы должны понимать, что
        доходы, полученные в прошлые периоды, не могут быть гарантией получения доходов в будущем. Перед началом
        торговли убедитесь, что вы осознаете все возможные риски с учетом вашего опыта и знаний.
      </div>
      <div class="col-md-2" style="margin: 20px 0">
        <div style="margin-bottom: 15px;"><%= image_tag '88x31_wm_blue_on_transparent_ru.png', class: 'center-block' %></div>
        <div><%= image_tag '88x31_wm_v_blue_on_white_ru.png', class: 'center-block' %></div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
